body {
  font-family: sans-serif;
}

svg {
  margin: auto;
  display: block;
}

header {
  text-align: center;
}

#title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3em;
}

.tile {
  fill-opacity: 0.6;
}
.tooltip {
  opacity: 0;
  position: absolute;
  font-size: 0.75em;
  padding: 0.6em 1em;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  z-index: 10;
  pointer-events: none;
}

.tooltip:before {
  content: '';
}

.rect-text:hover {
  cursor: default;
}
